<template>
  <div>
	<b-modal
		title="Paste video id"
		centered
		v-model="modalShow"
		no-close-on-esc
		no-close-on-backdrop
		hide-header-close
		ok-only
		:ok-disabled=isDisableMOk
		@ok="handleOk"
	>
		<b-input v-model="videoId" @change="load" placeholder="Video id" />
		<br>
		<router-link to="/" class='btn btn-success btn-block'>Return to home</router-link>
	</b-modal>
    <b-container fluid>
      <!-- VIDEO INPUT ID -->
      <b-row>
        <b-col lg="8">
        <b-button @click="changeVid">Change video</b-button>
        <b-row>
            <!-- YOUTUBE PLAYER -->
            <b-col lg='10'>
               <youtube
		            :video-id="videoId"
		            ref="youtube"
		            :player-vars="playerVars"
		            @ready="ready"
		            @playing="playing"
		            width='100%'
		            height='480'
	            >
				      </youtube>
          </b-col>
          <br>
          <b-col lg='2'>
            <b-button-group vertical >
              <!-- START BUTTON -->
              <font-awesome-icon
                @click="addStart"
                icon="play"
                size="2x"
                v-b-popover.hover="'Moment start'"
                ></font-awesome-icon>
              <!-- END BUTTON -->
              <font-awesome-icon
                @click="addEnd"
                icon="stop"
                size="2x"
                v-b-popover.hover="'Moment end'"
                ></font-awesome-icon>
              <!-- CREATE BUTTON -->
              <font-awesome-icon
                @click="create"
                variant="danger"
                icon="video"
                size="2x"
                v-b-popover.hover="'Save moment'"
                ></font-awesome-icon>
              <!-- LOAD BUTTON -->
              <!-- <b-button @click="load" variant="danger" disabled>Load</b-button> -->
              <!-- SHARE BUTTON -->
              <router-link  :to="{ name: 'ViewMoments', params: { videoId: videoId } }">
                <font-awesome-icon icon="share" size="2x" v-b-popover.hover="'Share moment'"></font-awesome-icon>
              </router-link>
            </b-button-group>
          </b-col>
        </b-row>
        <br>
          <b-row>
            <!-- ZOOM DEBUG INFO -->
                  <div id='zS' class='time-label zoom' :style='zSPosition'>{{ time(zoomStart)    }}</div>
                  <div id='zE' class="time-label zoom" :style='zEPosition'>{{ time(zoomEnd)      }}</div>
                  <div id='fS' class='time-label fragment begin' :style='fSPosition'>{{ time(fragmentStart)}}</div>
                  <div id='fE' class="time-label fragment end" :style='fEPosition'>{{ time(fragmentEnd)  }}</div>
          </b-row>
          <br>
          <b-row>
            <!-- ZOOM LINE -->
            <div :style='roolerStyle'>
              <vue-draggable-resizable
              v-for="moment in moments"
                :x="(moment.start * 1000) / duration"
                :w="(moment.end - moment.start) * 1000 / duration"
                :h="50"
                :minw="1"
                :draggable="false"
                :resizable="false"
                :active="false"
                :parent="true"
                class="moment_fragment"
                @activated='seek(moment)'
                >
              </vue-draggable-resizable>
              <!-- ZOOM DRAGGABLE ITEM -->
              <vue-draggable-resizable
              :x="zoomX"
              :w="zoomW"
              :h="50"
              :minw="1"
              :handles="['ml','mr']"
              :parent="true"
              class="zoom-selector"
              @resizing="changeParamsZoom"
              @dragging="changeParamsZoom"
                >
                </vue-draggable-resizable>
                <!-- CARRET CANVAS -->
                <v-stage :config="configKonva" class='carret'>
                  <v-layer ref="layer">
                  	<!-- CARRET DUPLICATE -->
                    <v-rect
                      :config="{
                      x: carretPosition,
                      y: 0,
                      width: 2,
                      height: 49,
                      fill: 'red',
                    }"
                    ></v-rect>
                    <!-- FRAGMENT DUPLICATE -->
                    <v-rect
                      v-if='showZoom'
                      :config="{
                      x: this.duplicate.fragmentX,
                      y: 4,
                      width: this.duplicate.fragmentW,
                      height: 40,
                      fill: '#fe0000',
                    }"
                    ></v-rect>
                  </v-layer>
                </v-stage>
              </div>
              <v-stage :config="configKonvaTimeLine" class='zoom-timeline'>
                  <v-layer>
                    <!-- <v-container :config='{x: 200, y: 0}'> -->
                      <template v-for='i in zoomLine'>
                        <v-text
                          :config="{
                            x: i.x+5,
                            y: 10,
                            text: i.text,
                            fontSize: 11,
                            fill: '#a5a5a5',
                          }"></v-text>
                        <v-line
                          :config="{
                            points: [i.x+12, 0, i.x+12, 10],
                            stroke: '#999999',
                            strokeWidth: .3,
                          }"></v-line>
                      </template>
                  </v-layer>
                </v-stage>
            </b-row>
            <br>
            <div v-if="showZoom">
              <b-row >
                <!-- FRAGMENT DEBUG INFO -->
                  <div id='ffS' class='time-label' :style='ffSPosition'>{{ time(fragmentStart)}}</div>
                  <div id='ffE' class="time-label" :style='ffEPosition'>{{ time(fragmentEnd)  }}</div>
                </b-row>
              <b-row>
              <!-- FRAGMENT LINE -->
              <div  :style='roolerStyle'>
                <!-- FRAGMENT DRAGGABLE ITEM -->
                <vue-draggable-resizable
                :x="fragmentX"
                :w="fragmentW"
                :h="50"
                :minw="1"
                :handles="['ml','mr']"
                class="zoom-selector"
                :parent="true"
                @resizing="changeParamsFragment"
                @dragging="changeParamsFragment"
                >
                </vue-draggable-resizable>
              </div>
              <v-stage :config="configKonvaTimeLine" class='zoom-timeline'>
                  <v-layer>
                    <!-- <v-container :config='{x: 200, y: 0}'> -->
                      <template v-for='i in fragmentLine'>
                        <v-text
                          :config="{
                            x: i.x+5,
                            y: 10,
                            text: i.text,
                            fontSize: 11,
                            fill: '#a5a5a5',
                          }"></v-text>
                        <v-line
                          :config="{
                            points: [i.x+12, 0, i.x+12, 10],
                            stroke: '#999999',
                            strokeWidth: .3,
                          }"></v-line>
                      </template>
                  </v-layer>
                </v-stage>
              </b-row>
            </div>
            <br>
          <b-row>
        	<!-- BUTTONS -->
            <!-- TITLE INPUT -->
            <input v-model='new_title' placeholder="Moment title">
            <!-- START INPUT -->
            <input v-model="start" placeholder="start">
            <!-- END INPUT -->
            <input v-model="end" placeholder="end">
            <!-- CREATE BUTTON -->
            <b-button @click="create" class="but" variant="danger">create moment</b-button>
          </b-row>
        </b-col>
        <b-col lg="4" >
          <b-row v-for="moment in moments">
            <MomentItem :moment="moment"/>
          </b-row>
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import { db } from '@/main';
import MomentItem from '@/components/MomentItem.vue';
import auth from '@/main';

export default {
  name: 'Create',
  props: [ 'videoID'],
  components: {
    MomentItem,
  },
  data: function () {
    return {
      modalShow: true,
      // PtzH020U0v4
      // videoId: 'sA0-QXbLnaE',             // 1:00
      // videoId: 'PtzH020U0v4',             // 3:18
      videoId: this.videoID,                //  20:29
      // videoId: 'nJtAxj9A_sk',          // 42:00
      // videoId: 'a9nQpcui7iM',          // 3:00:00
      playerVars: {
        start: 0,
        end: 30,
        rel:0,
        controls:1,
        fs: 0,
        showinfo:1,
        disablekb: 0,
        autoplay: false,
      },
      zoomStart: 0,
      zoomEnd: 30,
      zoomX: 0,
      zoomW: 100,
      zoomDuration: 0,
      fragmentX: 0,
      fragmentW: 100,
      fragmentEnd: 0,
      fragmentStart: 0,
      fragmentDuration: 0,
      duration: '',
      // moments: [],
      fields: [ "title", "start", "end", "remove", 'share'],
      new_title: '',
      currentTime: 0,
      configKonva: {
        width: 1000,
        height: 50
      },
      configKonvaTimeLine: {
        width: 1050,
        height: 20,
      },
      carretPosition: 100,
      duplicate: {
      	fragmentX: 0,
      	fragmentW: 10,
      },
      roolerStyle: {
        height: '50px',
        width: '1000px',
        border: '1px solid #dddddd',
        position: 'relative',
      },
    }
  },
  methods: {
    changeVid(){
      this.modalShow = true;
    },
    // ON START BUTTON PRESS
    addStart(){
      this.player.getCurrentTime().then((time) => {
        this.fragmentStart = time;
        this.fragmentEnd = this.duration;
      });
    },
    // ON END BUTTON PRESS
    addEnd(){
      this.player.getCurrentTime().then((time) => {
        this.fragmentEnd = time;
      });
    },
    // CREATE MOMENTS METHOD
    create(e) {
        this.$store.dispatch('create',{
          v_id: this.videoId,
          title: this.new_title,
          start: this.fragmentStart,
          end: this.fragmentEnd,
          date: (new Date).getTime(),
          uid: this.user.uid,
          dn: this.user.displayName,
          email: this.user.email
        }).then( msg => { msg ? alert(msg) : null } ); // run validation in promise
    },
    // ON LOAD PALYER EVENT
    load(){
		  this.player.getDuration().then( (r) => { this.duration = parseInt(r) });
    },
    // ADD HANDLERS TO DB STATE CHANGE AND DB ON LOAD
    ready(){},
    //  ON ZOOM RESIZE/DRAG
    changeParamsZoom(x, y, width){

      this.zoomX = x;
      this.zoomW = width || this.zoomW;

      if(this.duration == 0){
        this.player.getDuration().then(
         function(result) {
           this.duration = parseInt(result);
         }.bind(this)
        );
      }

      this.zoomDuration = parseInt(this.zoomW * this.duration / 1000);
      this.zoomStart = parseInt(this.zoomX * this.duration / 1000);
      this.zoomEnd = parseInt((this.zoomW + this.zoomX)* this.duration / 1000);

      this.fragmentStart = this.zoomStart + this.fragmentX/1000*this.zoomDuration;
      this.fragmentEnd = this.zoomStart + this.fragmentX/1000*this.zoomDuration + this.fragmentW/1000*this.zoomDuration;
      this.fragmentDuration = this.fragmentW/1000*this.zoomDuration;

      this.duplicate.fragmentX = this.zoomX + (this.fragmentX * (this.zoomDuration / this.duration));
      this.duplicate.fragmentW = this.fragmentW * (this.zoomDuration / this.duration);

      this.playerVars.start = this.fragmentStart
      this.playerVars.end = this.fragmentEnd;

      this.player.loadVideoById({
        'videoId': this.videoId,
        'startSeconds': this.playerVars.start,
        'endSeconds': this.playerVars.end,
       });
    },
    // ON FRAGMENT RESIZE/DRAG
    changeParamsFragment(x, y, width){
    	let endOnly = (this.fragmentX == x);

		this.fragmentX = x;
		this.fragmentW = width || this.fragmentW;

		this.fragmentStart = this.zoomStart + this.fragmentX/1000*this.zoomDuration;
		this.fragmentEnd = this.zoomStart + this.fragmentX/1000*this.zoomDuration + this.fragmentW/1000*this.zoomDuration;
		this.fragmentDuration = this.fragmentW/1000*this.zoomDuration;

		this.duplicate.fragmentX = this.zoomX + (this.fragmentX * (this.zoomDuration / this.duration));
      	this.duplicate.fragmentW = this.fragmentW * (this.zoomDuration / this.duration);


		this.playerVars.start = this.fragmentStart;
		this.playerVars.end = this.fragmentEnd;

		if(!endOnly){
			this.player.loadVideoById({
				'videoId': this.videoId,
				'startSeconds': this.playerVars.start,
				'endSeconds': this.playerVars.end,
			});
		}
    },
    // ON PLAYING EVENT
    playing(){
      const anim = new Konva.Animation( (frame) => {
        this.player.getCurrentTime().then((time) => {
          let position = time / this.duration * 1000;
          if(position) this.carretPosition = time / this.duration * 1000;
        });
      }, this.$refs.layer.getStage());
      anim.start()

    },
    // FORMATER FOR TIME
    time(s,format = 'hhmmss'){
      let start,length;
      var date = new Date(null);
      date.setSeconds(s);

      const param = {
        mss:{
          start: 15,
          length: 4
        },
        mmss:{
          start: 14,
          length: 5
        },
        hmmss:{
          start: 12,
          length: 7
        },
        hhmmss: {
          start: 11,
          length: 8
        }
      }[format];

      return date.toISOString().substr(param.start, param.length);
    },
    handleOk (e) {
    	this.player.loadVideoById({'videoId': this.videoId});
    },
    // d - time duration in seconds
    // b - start
    buildLine (d,b = 0) {
      let iTime = [];
      const number = 15;
      let eS = Math.floor(d/number); // each seconds
      let interval = 1000 / number;

      for(let i=1; i<number; i++ ){
        let cItem = {
          x: i*interval,
          y: 0,
          text: this.time(i*eS+b,'hmmss'),
        };
        iTime.push(cItem);
      }

      return iTime;
    },
    seek(i){
      this.player.loadVideoById({'videoId': this.videoId,
       'startSeconds': i.start,
       'endSeconds': i.end,
       });
    }
  },
  computed: {
    player () {
      return this.$refs.youtube.player;
    },
    start () {
      return this.time(this.fragmentStart);
    },
    end () {
      return this.time(this.fragmentEnd);
    },
    isDisableMOk () {
    	return !this.videoId;
    },
    zoomLine () {


      // ad to begin with 0:00
      let iTime = this.buildLine(this.duration);

      iTime.unshift({
        x: 0,
        text: this.time(0,'hmmss'),
      })

      // TODO this.duration must update at video upload

      // add last item as video.duration
      iTime.push({
        x: 997,
        text: this.time(this.duration,'hmmss'),
      })

      return iTime;
    },
    fragmentLine() {
      let iTime = this.buildLine(this.zoomDuration, this.zoomStart);

      iTime.unshift({
        x: 0,
        text: this.time(this.zoomStart,'hmmss'),
      })

      // TODO this.duration must update at video upload

      // add last item as video.duration
      iTime.push({
        x: 997,
        text: this.time(parseInt(this.zoomEnd),'hmmss'),
      })

      return iTime;
    },
    zSPosition(){
      return {
        left: this.zoomX - 35,
      }
    },
    zEPosition(){
      return {
        left: this.zoomX + this.zoomW - 70,
      }
    },
    fSPosition(){
      return {
        left: this.duplicate.fragmentX - 120
      }
    },
    fEPosition(){
      return {
        left: this.duplicate.fragmentX + this.duplicate.fragmentW - 150
      }
    },
    ffSPosition(){
      return {
        left: this.fragmentX - 25
      }
    },
    ffEPosition(){
      return {
        left: this.fragmentX + this.fragmentW - 70
      }
    },
    moments: c => { return c.$store.getters.momentsWhere(c.videoId) },
    showZoom: c => { return c.duration < 1000 } // 16 min
  },
  watch: {
    videoId(){
      this.player.getDuration().then(
         function(result) {
           this.duration = parseInt(result);
         }.bind(this)
        );
    },
  },
  created() {
    this.user = auth.user();
  }
}
</script>
<style scoped>

input {
  border: 1px solid #dddddd;
}

.fragment-box,
.zoom-box {
  height: 50px;
  width: 1000px;
  border: 1px solid #dddddd;
  position: relative;
}
.fragment-selector,
.zoom-selector {
  background: #ff9e9f;
  border: 1px solid grey;
  cursor: move;
}
.fragment-selector >>> .handle,
.zoom-selector >>> .handle {
  height: 100%;
  width: 2px;
  margin: 0;
  top: 0;
  background: black;
}
.fragment-selector >>> .handle.handle-ml,
.zoom-selector >>> .handle.handle-ml {
  left: 0;
}
.fragment-selector >>> .handle.handle-mr,
.zoom-selector >>> .handle.handle-mr {
  right: 0;
}
.carret{
  pointer-events: none;
}

.but {
  background: #fe0000;
  border: none;
}

.video_item{
  border-top: 1px  solid #e8e8e8;
  padding: 5px;
}

.svg-inline--fa {
    color: #979797;
    margin: 10px;

}
.svg-inline-fa:focus {
  color: #0077cc;
}
.svg-inline--fa:hover {
    color: #797979;
}
.zoom-timeline{
  position: relative;
  left: -10px;
}
.time-label{
  color: #676767;
  font-size: 12px;
  font-weight: bold;
  position: relative;
}
.time-label.fragment{
  top: 15px;
}
.time-label.fragment.end{
  top: 25px;
}
.moment_fragment{
  background: #0cc7f5;
  border: 1px solid #0c0a01;
}
</style>
