<template>
  <div>
    <b-row>
      <!-- RENDER LIST OF MOMENTS -->
      <b-col lg="2" md="3" v-for=" (id) in videos">
        <!-- RENDER MOMENT -->
        <router-link  :to="{ name: 'Create', params: { videoID: id} }">
          <div class="home-item">
            <p>{{id}}</p>
            <img :src="'https://img.youtube.com/vi/' + id+ '/0.jpg'" class='home-prev'>
          </div>
        </router-link>
      </b-col>
      <b-col lg="2" md="3">
        <b-dropdown id="ddown1" text="Select User" class="m-md-2">
          <b-dropdown-item v-for='(dn) in users' @click='handleSelect(dn)'>{{dn}}</b-dropdown-item>
          <b-dropdown-item @click='handleSelect(null)'>All</b-dropdown-item>
        </b-dropdown>
      </b-col>
    </b-row>
  </div>
</template>

<script>

import auth from '@/main';

export default {
  name: 'Home',
  components: {},
  computed: {
    videos: c => { return c.$store.getters['videos'] },
    users: c=> { return c.$store.getters['users'] }
  },
  methods: {
    handleSelect: function (vids){
      this.$store.commit('filterByName', vids)
    }
  }
}
</script>
<style>
  .home-item{
    margin: 15px;
    border-radius: 10px;
    text-align: center;
  }
  .home-item .home-prev{
    width: 100%;
  }
  .g-signin-button {
  /* This is where you control how the button looks. Be creative! */
    display: inline-block;
    padding: 4px 8px;
    border-radius: 3px;
    background-color: #3c82f7;
    color: #fff;
    box-shadow: 0 3px 0 #0f69ff;
  }
</style>
