<template>
  <div id="app">
    <Editor />
  </div>
</template>

<script>


import Editor from '@/components/Editor.vue';
export default {
  name: 'Create',
  components: {
    Editor,
  }
}
</script>
