<template>
  <div id="app">
    <h1>View</h1>
    <Link />
  </div>
</template>
<script>


import Link from '@/components/Link.vue';
export default {
  name: 'View',
  components: {
    Link,
  }
}
</script>
