<template>
  <div>
    <b-row>
      <!-- ADD YOUTUBE PLAYER -->
      <b-col lg="8">
      <youtube
          :video-id="videoId"
          ref="youtube"
          @ready="getMoments"
          @ended='playNext'
          width='100%'
          height='480'
          >
        </youtube>
      </b-col>
    </b-row>
    <b-row>

      <!-- CREATE LINE WITH MOMENTS -->
      <div style="height: 50px; width: 1000px; border: 1px solid red; box-sizing: border-box; position: relative;">
      <!-- VIEW MOMENT ON LINE -->
          <vue-draggable-resizable
          v-for="moment in moments"
            :x="(moment.start * 1000) / duration"
            :w="(moment.end - moment.start) * 1000 / duration"
            :h="50"
            :minw="1"
            :draggable="false"
            :resizable="false"
            :active="false"
            :parent="true"
            class="moment_fragment"
            @activated='seek(moment)'
            >
          </vue-draggable-resizable>
      </div>
    </b-row>
    <!-- CREATE TABLE WITH MOMENTS -->
    <b-table striped hover :items="moments" :fields="fields">
      <!-- ADD COLUMN WITH BUTTON VIEW MOMENT -->
      <template slot="moment" slot-scope="row" scope="item">
        <!-- ADD BUTTON VIEW MOMENT -->
        <b-button @click='seek(row.item)'>To moments</b-button>
      </template>
    </b-table>
  </div>
</template>
<script>
// CONECT TO DATABASE
import { db } from '@/main';
import auth from '@/main';

export default {
  name: 'ViewMoments',
  props: ['videoId'],
  components: {
  },
  data(){
    return {
      // VIDEO DURRATION
      durration: 0,
      // LIST OF MOMENTS
      moments: [],
      played: null,
      // TABLE OF MOMENTS FIELDS
      fields: [ "title", "start", "end",'moment'],
    }
  },
  methods: {
    // GET MOMENTS FROM FIREBASE
    getMoments(){
      db.collection("moment")
        .where("v_id", "==", this.videoId)
        .where("uid", "==", this.user.uid)
        .get()
        .then( ( doc ) => {
          this.moments = doc.docs.map(function (i) {
            let res = i.data();
            res.id = i.id;
            return res;
           });
           console.log(this.moments);
           // Sort moments

           this.moments.sort(function(a, b){
            if (a.start < b.start)
              return -1
            if (a.start > b.start)
              return 1
              return 0
           })
           console.log(this.moments);
        });

        // GET VIDEO DURATION
        this.player.getDuration().then(
         function(result) {
           // SAVE DURATION
           this.duration = parseInt(result);
         }.bind(this)
        );
    },
    // LOAD VIDEO FROM YOUTUBE
    seek(i){
      console.log("play" + this.played);
      if(this.played == null){
        this.played = this.moments.indexOf(i) ;
      }

      if(this.played < this.moments.length){
        this.played += 1;
      }else{
        this.played = 0;
      }

      this.player.loadVideoById({'videoId': this.videoId,
       'startSeconds': i.start,
       'endSeconds': i.end,
       });

    },
    playNext(){
      console.log("ended " + this.played);

      this.seek(this.moments[this.played]);
    }
  },
  computed: {
    // GET PLAYER FROM PAGE
    player () {
      return this.$refs.youtube.player;
    },
  },
  created() {
    this.user = auth.user();
  },

}
</script>

<style >
  /* MOMENT FRAGMENT STYLE */
  .moment_fragment{
    background: #0cc7f5;
    border: 1px solid #0c0a01;
  }

</style>
