<template>
  <div>
    <b-navbar>
      <!-- ROUTE TO HOME PAGE -->
      <b-navbar-brand :to="{name: 'Home'}" >
        <img class="logo" src="@/assets/home.png">
      </b-navbar-brand>
      <!-- ROUTE TO CREATE MOMENTS -->
      <router-link  v-b-popover.hover="'Create moment'" :to="{ name: 'Create', params: {videoID: 'y__1BRp4_8'}}">
        <img class="create_button" src="@/assets/create.png">
      </router-link>
      <router-link to="/auth">
        <img v-if='this.user' :src="user.photoURL" width="20">
        <span v-if='!this.user'>{{'Sign In'}}</span>
      </router-link>
    </b-navbar>
  </div>
</template>

<script>

import auth from '@/main'

export default{
  name: 'Header',
  data: function () {
    return {
    };
  },
  computed: {
    user: function () {
      return auth.user();
    }
  }

}

</script>

<style scoped>

.logo{
  height: 24px;
}

.create_button{
  height: 18px;
}

</style>
