<template>
  <div>
    
    <br>
    <!-- YOUTUBE PLAYER -->
    <youtube
      :video-id="videoId"
      ref="youtube"
      :player-vars="playerVars"
      @ready="ready"
      >
    </youtube>
  </div>
</template>

<script>
import { db } from '@/main';
export default {
  name: 'View',
  data: function () {
    return {
      videoId: '',
      playerVars: {
        start: 0,
        end: 0
      }
    }
  },
  methods: {
    // UPLOAD VIDEO BY ID ON PLAYER READY
    ready() {
      db
      .collection('moment')
      .doc(this.$route.params.id)
      .get()
      .then( (d) => {
        let moment = d.data();
        this.player.loadVideoById({
          'videoId': moment.v_id,
          'startSeconds': moment.start,
          'endSeconds': moment.end,
        });
      })
    }
  },
  computed: {
    player () {
      return this.$refs.youtube.player;
    }
  },
}
</script>

<style>

</style>
