<template>
  <b-row>
    <b-col class="video_item">
      <b-row>
        <b-col>
          <h5>{{moment.title}}</h5>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols='5'>
          <img :src="'https://img.youtube.com/vi/' + moment.v_id + '/2.jpg'">
        </b-col>
        <b-col cols="5">
          <b-row>
            <b-col>
              <p>start: {{parseInt(moment.start)}}</p>
              <p>end: {{parseInt(moment.end)}}</p>
            </b-col>
          </b-row>
        </b-col>
        <b-col cols='2'>
          <b-row>
            <b-col>
              <router-link class="share" :to="link(moment)">Share</router-link>
            </b-col>
          </b-row>
          <b-row>
            <b-col>
              <b-button variant="danger" class="but" @click='remove(moment)'>delete</b-button>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-col>
  </b-row>
</template>

<script>
import { db } from '@/main';

export default{
  props: ['moment'],
  methods: {
    // REMOVE FROM
    remove(i){
      db.collection('moment').doc(i.id).delete();
    },
    // GET LINK TO VIEW PAGE FOR EACH MOMENTS
    link(i){
      return 'view/' + i.id;
    },
  },
}

</script>

<style>
.video_item{
  margin-bottom: 30px;
}
.but {
  background: #fe0000;
  border: none;
}

p {
  color: #979797;
}

.share{
  color: #fe0000;
}
</style>
