<template>
	  <div id="app">
			<b-container fluid>
				<Header />
    	<router-view/>
			</b-container>
	  </div>
</template>

<script>
import Header from '@/components/Header.vue'

export default{
	components: {
		Header,
	}
}

</script>
